<router-outlet></router-outlet>
<section class="uk-section-muted uk-section uk-section-secondary" style="background-color: var(--color-secondary-dark)">
    <div class="uk-container-small uk-container uk-text-center">
        <p><a routerLink="/">Home</a> | <a routerLink="/privacy">Privacy & Policy</a></p>
        <a class="uk-button uk-button-text">&copy; EKSAFAR CLUB. All rights reserved.</a>
    </div>

</section>

<div class="social-icons">
    <a class="facebook" href="https://www.facebook.com/eksafar.club"><span uk-icon="facebook"></span></a>
    <a class="instagram" href="https://www.instagram.com/eksafar.club/"><span uk-icon="instagram"></span></a>
    <a class="twitter" href=""><span uk-icon="twitter"></span></a>
</div>
